body {
    font-family: Arial, sans-serif;
    background-color: #050101;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #060000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #160f0f;
}
img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
}


button {
    background-color: #ec2fc3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e537c0;
}
#result {
    color: white; /* Set the color of the inner text to white */
}
